<div class="main">
    <div>
        <p class="text-1">
            From intimate gatherings to grand affairs,
            <br>
            <span style="color: #FF0080;">PNKK</span> is your one-stop destination for
            <br>
            unforgettable experiences.
        </p>
        <p class="text-2">
            We simplify event planning with curated network of trusted vendors,
            <br>
            <span style="color: #FF0080;">seamless</span> booking, and <span style="color: #FF0080;"> hassle-free</span>
            management, all in one platform.
        </p>
        <button class="button">
            Explore Now!
        </button>

    </div>
    <div>
        <p style="color: #FF0080;" class="text-3">
            Why us?
        </p>
        <p class="text-4">
            Your perfect event awaits
        </p>
        <p class="text-5">
            <span style="color: #FF0080;">Wide</span> Selection
        </p>
        <p class="text-6">
            Find everything from decor to catering for birthdays,
            <br>
            weddings, and more.
        </p>
        <p class="text-5">
            <span style="color: #FF0080;">Trusted</span> Vendors
        </p>
        <p class="text-6">
            High-quality products and reliable services with reviews
            <br>
            and comparisons.
        </p>
        <p class="text-5">
            <span style="color: #FF0080;">Easy</span> Planning
        </p>
        <p class="text-6">
            Create wish lists, book servcies, and shop in one place.
        </p>
        <p class="text-5">
            <span style="color: #FF0080;">Exclusive</span> Deals
        </p>
        <p class="text-6">
            Save with special discounts and offers.
        </p>
        <p class="text-5">
            <span style="color: #FF0080;">Personalised</span> Picks
        </p>
        <p class="text-6">
            Get tailored recommendations for your event.
        </p>
    </div>
</div>
<app-base></app-base>