<app-header></app-header>
<div class="main">
    <div class="card">
        <img src="../../assets/section-1/anniversary0.jpg" alt="Anniversary" class="card-img">
        <p class="title">Destination</p>
        <p class="subtitle">Price starts from INR 10+ Lakhs</p> <!-- New p tag -->
    </div>

    <div class="card">
        <img src="" alt="Grand & Luxurious" class="card-img">
        <p class="title">Grand & Luxurious</p>
        <p class="subtitle">Price starts from INR 15+ Lakhs</p> <!-- New p tag -->
    </div>

    <div class="card">
        <img src="" alt="International" class="card-img">
        <p class="title">International</p>
        <p class="subtitle">Price starts from INR 10+ Lakhs</p> <!-- New p tag -->
    </div>

    <div class="card">
        <img src="" alt="Budget Friendly" class="card-img">
        <p class="title">Budget Friendly</p>
        <p class="subtitle">Price starts from INR 5+ Lakhs</p> <!-- New p tag -->
    </div>

    <div class="card">
        <img src="" alt="Customize Your Wedding" class="card-img">
        <p class="title">Customize Your Wedding</p>
        <p class="subtitle">Custoize your price as per your requirment</p> <!-- New p tag -->
    </div>
</div>