<p class="text-1">Event marketplace</p>
<p class="head-text">One-Stop</p>
<div class="main-container">
    <div class="sub-container-1">
        <img class="sub-container-1-1" src="../../assets/section-1/corporate-events.png">
        <p style="font-weight: bold; font-family: Outfit; font-size: 20px; text-align: start; margin-left: 20px;">
            Trusted Vendor
            Network</p>
        <p style=" color: rgb(86, 88, 94); font-family: Outfit; text-align: start; margin-left: 20px;">Simplify
            event
            planning with curated network, seamless booking, hassle-free management.</p>
    </div>
    <div style="    display: grid;
    justify-items: center;">
        <div class="sub-container-2">
            <img class="sub-container-2-2" src="../../assets/section-1/dj.png">
            <p style="font-weight: bold; font-family: Outfit; font-size: 20px; text-align: start; margin-left: 20px;">
                Unforgettable
                Experiences Marketplace</p>
        </div>
        <div class="sub-container-2">
            <img class="sub-container-2-2" src="../../assets/section-1/lunch.png">
            <p style="font-weight: bold; font-family: Outfit; font-size: 20px; text-align: start; margin-left: 20px;">
                Seamless Booking
                Platform</p>
        </div>
    </div>
</div>