<app-header></app-header>

<div class="image-tray">
    <div class="tray-item"></div>
    <div class="tray-item"></div>
    <div class="tray-item"></div>
    <div class="tray-item"></div>
    <div class="tray-item"></div>
    <div class="tray-item"></div>
</div>


<div class="header-text">
    <p>From intimate gatherings to grand affairs, <span style="color: #FF0080;">PNKK</span> is your one-stop destination
        for unforgettable experiences.</p>
</div>
<div class="main">
    <div class="main-box">
        <div style="position: relative;"> <input style=" margin-top: 20px;" type="text" required> <label
                class="box-1">Full Name</label> </div>
        <div style="position: relative;"> <input style=" margin-top: 20px;" type="text" required> <label
                class="box-1">Phone Number</label> </div>
    </div>
    <div style="position: relative;"> <input style="width: 100%; margin-top: 20px;" type="text" required>
        <label class="box-1">Location</label>
    </div>
    <div style="position: relative;"> <input style="width: 100%; margin-top: 20px;" type="text" required> <label
            class="box-1">Event type</label> </div>

    <div>

        <button class="button">Submit</button>
    </div>
</div>
<app-base></app-base>