<div style="height: 140vh; display: grid; align-content: start;">
    <h1 style="text-align: center; font-family: sans-serif; font-weight: bold; font-size: 60px;">Contact us</h1>
    <p style="    text-align: center;
    font-family: sans-serif;
    width: 500px;
    display: block;
    place-self: center">Feel
        free to contact us with any questions or
        concerns.
        You can use the form on our website or email us directly.
        We appreciate your interest and look forward to hearing from you.</p>

    <div style="width: 500px; display: block; place-self: center; font-family: sans-serif;">
        Name*
        <input class="input-1" placeholder="Your name">
        Last name
        <input class="input-1" placeholder="Last name">
        Your email*
        <input class="input-1" placeholder="Your email address">
        Message*
        <input class="input-1" style="height: 50px;" placeholder="Enter your message">
    </div>
    <button class="button">Submit</button>
    <div style="display: grid; grid-template-columns: 1fr 1fr; margin-left: 200px;">
        <div style="font-family: sans-serif;">
            <h2>Contacts</h2>
            <p>office@pnkk.in</p>
        </div>
        <div style="margin-left: 300px; font-family: sans-serif;">
            <h2>Address</h2>
            <p>Goa, India</p>
        </div>
    </div>
</div>