<app-header></app-header>

<div>
    <img class="easeload" onload="this.style.opacity=1" style="    display: grid;
    width: 100vw;
    opacity: 1;
    height: 60vh;
    object-fit: cover;" src="../../assets/p.jpg" />
</div>

<div class="hero-wrapper">
    <div class="occasions-wrapper">

        <p style="font-size: 22px;  line-height: 22px; font-family: Unbounded;"><span
                style="font-family: Unbounded; font-size: 22px; font-weight: 200;">Your</span>
            <span style="font-size: 30px; font-family: Unbounded; color:#FF0080;font-weight: 400 !important ">
                one-stop </span>
            <span style=" font-family: Unbounded; font-weight: lighter !important; font-weight: 400">event marketplace
                for
                all</span>
            <span style=" font-family: Unbounded; font-size: 30px; color:#FF0080;font-weight: 400;">
                occasions.</span>
        </p>
    </div>

    <div style="display: grid; grid-template-columns: 0.8fr; justify-content: center;">
        <div class="search-wrapper">
            <div>
                <p>Location</p>
            </div>
            <hr class="solid">
            <div>
                <p>Event type</p>
            </div>
            <hr class="solid">
            <div style="display: grid; width: 100%;">
                <p class="search-button">
                    Search
                </p>
            </div>
        </div>
    </div>
</div>

<div class="services-wrapper">
    <p style="font-size: 22px;  line-height: 22px; font-family: Unbounded;font-weight: 200;"><span
            style="font-family: Unbounded; font-size: 30px; font-weight: 400; color:#FF0080">Entertainment Services
        </span><br>
        In Bangalore
</div>

<app-scroll-section></app-scroll-section>

<!-- <div class="explore-wrapper">
    <p style="font-size: 22px;  line-height: 22px; font-family: Unbounded;font-weight: 400;">
        From Intimate gatherings to grand affairs
        <br>
        <span style="font-family: Unbounded; font-size: 30px; font-weight: 600; color:#FF0080">Pnkk
        </span>
        is your one-stop destination for Unforgettable Experiences.
    </p>
    <p style="font-size: 16px;  line-height: 22px; font-family: Unbounded;font-weight: 200;">
        We simplify event planning with a curated network of trusted vendors,
        <span style="font-family: Unbounded; font-size: 24px; font-weight: 400; color:#FF0080">seamless
        </span><br>
        booking, and <span style="font-family: Unbounded; font-size: 24px; font-weight: 400; color:#FF0080">hassle-free
        </span>
        management, all in one platform.
    </p>
    <div style="display: grid; width: 15rem; justify-self: center; padding: 1rem;">
        <p class="search-button">
            Explore Now!
        </p>
    </div>
</div> -->

<img src="../../assets/section-1/event-planning.png" style="display: grid; width:100vw;" />
<app-base></app-base>