.header {
    display: grid;
    background-color: #FF0080;
    padding: 0.4rem;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    font-family: 'Alatsi';
    font-size: 36px;
    color: white;
    text-align: center;
}

.main-container-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text{
    font-weight: bold; font-size: 50px; font-family: sans-serif; margin-left: 80px; width: 600px; text-align: start;margin-top: 200px;
}

.text-1{
    font-family: sans-serif; margin-left: 90px; width: 570px; text-align: start; color: rgb(86, 88, 94);;
}

.sub-container-1-1{
    height: 510px;
    width: 600px;
 
  border-radius:  30px;
  
}

.sub-container-1-1::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sub-container-1{
   
    margin-top: 100px;   
}

.button{
     font-size: 18px; font-family: sans-serif; height: 50px; width: 200px;text-align: center;display: grid;
    justify-content: center; align-content: center;margin-left: 200px; margin-top: 50px;--font-weight: 500;
    border-radius: 28px;
    border-width: 0px;
    background-color: rgb(255, 0, 128);
    color: rgb(255, 255, 255);
    border-color: #0D131A;

 }

 .button:hover{
    background-color: rgba(255, 255, 255, 0);
    color: #0D131A;
    border-color: #0D131A;

 }