
<div class="main-container-1">
    <div>
        <div class="text">
            <p>Celebrate life's
                <span>milestones with ease,</span>
                <span>from birthdays to</span>
                <span> anniversaries.</span>
            </p>


        </div>

        <p class="text-1">We simplify event planning with a curated network of trusted vendors, seamless booking, and
            hassle-free management, all in one platform.</p>
        <button class="button">Explore</button>
    </div>
    <div class="sub-container-1">
        <img class="sub-container-1-1" src="../../assets/section-1/cc.png">
    </div>
</div>