:host {
    display: block;
    overflow: hidden;
}

#container {
    display: flex;
    height: 52vh;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.card {
    flex: 0 0 270px;
    height: 52vh;
    margin: 0 2px;
    background-color: #f0f0f0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    scroll-snap-align: start;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 0%, rgba(255, 0, 128, 0.35) 100%);
}

#scale {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;
    background-color: #FF0080;
    color: white;
    padding: 1.1rem;
    overflow: scroll;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 25px;
    margin-top: 1.5rem;
}

.letter {
    cursor: pointer;
    font-size: 22px;
    display: grid;
    grid-row-gap: 6px;
}

.letter:hover {
    transform: scale(1.4);
    transition: all 0.1s ease-in;
}

.letter.active {
    font-weight: bold !important;
    font-size: 32px;
}