.outer-wrapper {
    display: grid;
    height: 86.5vh;
    background-color: white;
    grid-template-columns: 60vw 40vw;
}

.inner-wrapper {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
}

.wrapper-right {
    background-color: white;
    justify-content: center;
    display: grid;
    align-content: center;
    grid-auto-flow: row;
}

@media screen and (max-width: 916px) {
    .outer-wrapper {
        display: grid;
        height: 96.5vh;
        background-color: white;
        grid-template-columns: 1fr;
    }

    .wrapper-right {
        background-color: white;
        justify-content: center;
        display: grid;
        align-content: center;
        grid-auto-flow: column;
        padding: 3rem;
    }
}

.box {
    border: 2px solid #FF0080;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the image does not overflow */
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Change to 'contain' if you want the entire image to fit inside the box */
    border-radius: inherit; /* To inherit the border radius from parent */
}

p {
    font-family: 'Libre Baskerville' !important;
    margin: 0px;
}

.header {
    display: grid;
    background-color: #FF0080;
    padding: 0.4rem;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
    font-family: 'Alatsi';
    font-size: 36px;
    color: white;
    text-align: center;
}

.button{
    margin-top:8px; text-align: center; font-size:26px; background-color:#FF0080;border-radius: 24px 24px 0px 24px; padding: 12px; width: 10rem; color: white; border: none;
}

.button:hover{
    color: #FF0080;
    background-color: black;
}
