<app-header></app-header>


<div class="outer-wrapper">

    <div class="left-wrapper">
        <img src="../../assets/section-1/wedding.png" class="img">
        <!-- <div style="position: absolute; display: grid; grid-auto-flow: column;">

            <div>
                <div
                    style="border: 2px solid #FF0080;  height: 120px; width: 200px;  border-radius: 24px 24px 0px 24px;">
                    <img style="height: 100%; width: 100%; border-radius: 24px 24px 0px 24px; "
                        src="../../assets/section-1/birthjday1.png">
                </div>

                <div
                    style="border: 2px solid #FF0080; height: 170px; width: 250px; margin-top: 0.8rem;  border-radius: 24px 0px 24px 24px;">
                    <img src="../../assets/section-1/wedding.png"
                        style="height: 100%; width: 100%; border-radius: 24px 0px 24px 24px;">
                </div>
            </div>
            <div>
                <div style="    border: 2px solid #FF0080;
               height: 120px;
                width: 200px;
                border-radius: 24px 24px 24px 0px;
                top: -15%;
                position: relative;
                right: 30%; margin-left: 60px;">
                    <img style="height: 100%; width: 100%; border-radius: 24px 24px 24px 0px;"
                        src="../../assets/section-1/dj.png">
                </div>
                <div style="    border: 2px solid #FF0080;
                    width: 1rem;
                    border-radius: 24px 24px 24px 0px;
                    position: relative;
                    top: -15%;
                    right: -10%;
                    height: 260px;
                    width: 100px;
    margin-top: 0.8rem;">
                    <img style="height: 100%; width: 100%; border-radius: 24px 24px 24px 0px;"
                        src="../../assets/section-1/bump1.png">
                </div>
                <div style="    border: 2px solid #FF0080;
                height: 180px;
                width: 220px;
                border-radius: 24px 24px 0px 24px;
                top: -12%;
                position: relative;
                right: 20%; ">
                    <img src="../../assets/section-1/corporate-events.png"
                        style="height: 100%; width: 100%; border-radius: 24px 24px 0px 24px;">
                </div>
            </div>

            <div>

                <div style="    border: 2px solid #FF0080;
                width: 100px;
                border-radius: 24px 24px 0px 24px;
                position: relative;
                top: 0%;
                right: 36%;
                height: 200px;
                margin-top: 0.8rem;">
                    <img src="../../assets/section-1/lunch.png"
                        style="height: 100%; width: 100%; border-radius: 24px 24px 0px 24px;">
                </div>
                <div style="border: 2px solid #FF0080;
                
                height: 300px;
                width: 200px; 
                border-radius: 0px 24px 24px 24px;
                top: 3%;
                position: relative;
                right: 36%;">
                    <img src="../../assets/section-1/baby.png"
                        style="height: 100%; width: 100%; border-radius: 0px 24px 24px 24px;">
                </div>
            </div>


        </div> -->
    </div>

    <div class="wrapper-right">
        <p style="font-size: 36px;  line-height: 47px; font-family: Outfit;"><span
                style="font-family: Outfit; font-size: 36px;">Your</span>
            <span style="font-size: 44px; font-family: Outfit; color:#FF0080;font-weight: bold !important ">
                one-stop </span>
            <span style=" font-family: Outfit; font-weight: lighter !important">event marketplace for all</span>
            <span style=" font-family: Outfit; font-size: 44px; color:#FF0080;font-weight: bold !important">
                occasions.</span>
        </p>
        <!-- <div>
            <button (click)="submit()" class="button">Get Started</button>
        </div> -->
    </div>
</div>