

<div class="outer-wrapper">
    <div style="position: relative;     display: grid;
    align-items: center; justify-items: center; top:40px">
        <div style="position: absolute; display: grid; grid-auto-flow: column;">

            <div>
                <div style="border: 2px solid #FF0080;  padding: 4rem; width: 4rem; border-radius: 24px 24px 0px 24px;">
                    <img style="height: 100%; width: 100%; object-fit: contain;"
                        src="../../assets/section-1/birthjday1.png">
                </div>

                <div
                    style="border: 2px solid #FF0080; padding: 4rem; margin-top: 0.8rem; width: 10rem; border-radius: 24px 0px 24px 24px;">
                    b
                </div>
            </div>
            <div>
                <div style="    border: 2px solid #FF0080;
                padding: 4rem;
                width: 4rem;
                border-radius: 24px 24px 24px 0px;
                top: -15%;
                position: relative;
                right: 40%;">
                    c
                </div>
                <div style="    border: 2px solid #FF0080;
                    width: 1rem;
                    border-radius: 24px 24px 24px 0px;
                    position: relative;
                    top: -15%;
                    right: -10%;
                    padding: 5rem 2rem 8rem 1rem;
    margin-top: 0.8rem;">
                    d
                </div>
                <div style="    border: 2px solid #FF0080;
                padding: 4rem;
                width: 4rem;
                border-radius: 24px 24px 0px 24px;
                top: -12%;
                position: relative;
                right: 40%;">
                    e
                </div>
            </div>

            <div>

                <div style="    border: 2px solid #FF0080;
                width: 1rem;
                border-radius: 24px 24px 0px 24px;
                position: relative;
                top: 0%;
                right: 36%;
                padding: 0rem 2rem 8rem 1rem;
                margin-top: 0.8rem;">
                    f
                </div>
                <div style="border: 2px solid #FF0080;
                padding: 6rem 7rem 1rem 3rem;
                height: 12rem;
                /* width: 11rem; */
                border-radius: 0px 24px 24px 24px;
                top: 8%;
                position: relative;
                right: 36%;">
                    g
                </div>
            </div>
            <!-- <div style="border: 2px solid #FF0080; padding: 4rem; width: 6rem; border-radius: 24px 0px 24px 24px;">
                .
            </div>
            <div style="border: 2px solid #FF0080; padding: 4rem; width: 6rem; border-radius: 24px 0px 24px 24px;">
                .
            </div>
            <div style="border: 2px solid #FF0080; padding: 4rem; width: 6rem; border-radius: 24px 0px 24px 24px;">
                .
            </div> -->

        </div>
    </div>

    <div class="wrapper-right">
        <p style="font-size: 36px; line-height: 47px;">Your
            <span style="font-size: 46px; color:#FF0080;font-weight: bold !important"> one-stop </span>
            <span style="font-weight: lighter !important">event marketplace for all</span>
            <span style="font-size: 46px; color:#FF0080;font-weight: bold !important"> occasions.</span>
        </p>
        <div
            style="margin-top:8px; text-align: center; font-size:26px; background-color:#FF0080;border-radius: 24px 24px 0px 24px; padding: 1rem; width: 10rem; color: white;">
            Get Started
        </div>
    </div>
</div>