<div style="background-color: #ffeef7; width: 100%; height: 100%;">
    <div class="main-1">
        <p class="logo">PNKK</p>
        <p class="text-1">Celebrate life's <span>milestones</span> with ease,
            <br>
            from <span style="color: #FF0080;">birthdays</span> to <span style="color: #FF0080;">anniversaries</span>.
        </p>
    </div>
    <div class="main-2">
        <div>
            <p class="logo-1" style="color: #FF0080;">PNKK</p>
            <p class="text-2">From intimate gatherings to grand
                <br>
                affairs,<span style="color: #FF0080; font-weight: 500;">PNKK</span> is your one-stop
                <br>
                destination for unforgettable
                <br>
                experiences
            </p>
        </div>
        <div style="margin-top: 60px;">
            <p class="text-2">We simplify event planning with a
                <br>
                curated netrwork of trusted
                <br>
                vendors, seamless booking, and
                <br>
                hassle-free management all in one
                <br>
                platform.
            </p>
        </div>
        <div>
            <p class="logo-1" style="color: #FF0080;">LINK </p>
            <nav class="text-2">
                <p>Home</p>
                <p>About</p>
                <p>Services</p>
                <p>Contact Us</p>

            </nav>
        </div>
        <div>
            <p class="logo-1" style="color: #FF0080;">contact us</p>
            <p class="text-2">Email : office@pnkk.in</p>
        </div>

    </div>
    <div class="icons">
        <a href="">
            <img src="../../assets/section-1/facebook.png">
        </a>
        <a href="">
            <img src="../../assets/section-1/instagram.png">
        </a>
        <a href="">
            <img src="../../assets/section-1/linkedln.png">
        </a>
        <a href="">
            <img src="../../assets/section-1/twitter.png">
        </a>
        <a href="">
            <img src="../../assets/section-1/whatsapp.png">
        </a>

        <a href="">
            <img src="../../assets/section-1/youtube.png">
        </a>

    </div>
</div>