<div style="background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 0, 128, 0.1));
width: 100%; height: 100%;">
    <div class="main-1">
        <p class="logo">PNKK</p>
        <p class="text-1">Celebrate life's <span>milestones</span> with ease,
            <br>
            from <span style="color: #FF0080;">birthdays</span> to <span style="color: #FF0080;">anniversaries</span>.
        </p>
    </div>
    <div class="main-2">
        <div>
            <p class="logo-1" style="color: #FF0080;">PNKK</p>
            <p class="text-2">From intimate gatherings to grand
                <br>
                affairs,<span style="color: #FF0080; font-weight: 500;"> PNKK</span> is your one-stop
                <br>
                destination for unforgettable
                <br>
                experiences
            </p>
        </div>
        <div style="margin-top: 60px;">
            <p class="text-2">We simplify event planning with a
                <br>
                curated netrwork of trusted
                <br>
                vendors, seamless booking, and
                <br>
                hassle-free management all in one
                <br>
                platform.
            </p>
        </div>
        <div>
            <nav class="text-2">
                <p routerLink="/home">Home</p>
                <p routerLink="/about">About</p>
                <p routerLink="/services">Services</p>
                <p routerLink="/contact-us">Contact Us</p>

            </nav>
        </div>
        <div>
            <p class="logo-1" style="color: #FF0080;">contact us</p>
            <p class="text-2">Email: <a href="mailto:office@pnkk.in">office@pnkk.in</a></p>

        </div>

    </div>
    <div class="icons">
        <a href="https://www.facebook.com/pnkk.362567?mibextid=ZbWKwL">
            <img src="../../assets/section-1/facebook.png">
        </a>
        <a href="https://www.instagram.com/_pnkk_?igsh=MXBqOGplcjlqZGttMQ==">
            <img src="../../assets/section-1/instagram.png">
        </a>
        <a href="https://www.linkedin.com/company/pnkk/about/?viewAsMember">
            <img src="../../assets/section-1/linkedln.png">
        </a>
        <a href="https://x.com/3Jvdigital34923?t=MlT3LfnD7l10TjAiXKZgtQ&s=08">
            <img src="../../assets/section-1/twitter.png">
        </a>
        <a href="">
            <img src="../../assets/section-1/whatsapp.png">
        </a>

        <a href="https://youtube.com/@jvdigital3215?si=MOT9gZwYyIVkhKr1">
            <img src="../../assets/section-1/youtube.png">
        </a>

    </div>
</div>